<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>AnimeChan API</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>

<header class="bg-success text-center text-white p-3">
    <span class="h2">Frases de Anime</span>
</header>

<section class="container mt-4" id="app">

    <div class="row mb-4">
        <div class="col-md-4">
            <input type="text"   class="form-control"   v-model="textoBusqueda"   placeholder="Escribe anime o personaje">
        </div>

        <div class="col-md-3">
            <select class="form-control" v-model="tipoBusqueda">
                <option value="anime">Anime</option>
                <option value="character">Personaje</option>
            </select>
        </div>

        <div class="col-md-3">
            <button class="btn btn-primary" @click="buscar">
                Buscar
            </button>
        </div>
    </div>

    <div class="row">
        <div class="card col-md-4 p-3 m-2 shadow" v-for="(frase, index) in frases" :key="index">

            <h5>{{ frase.anime.name }}</h5>
            <h6 class="text-muted">{{ frase.character.name }}</h6>
            <p class="mt-2">"{{ frase.content }}"</p>
        </div>
    </div>

</section>

<script src="../js/vue3.js"></script>
<script src="../js/axios.min.js"></script>
<script src="../js/funciones.js"></script>

</body>
</html>
